<% content_for :title do %>Tanks<% end %>
<%= render "shared/navigationbar" %>

<h1>Tank Overview</h1>

<%= search_form_for @q do |f| %>
  <%= f.search_field :name_cont %>

  <%= f.submit %>
<% end %>

<%= will_paginate @tanks %>
<table class="table">
  <thead class="table__head">
    <tr>
      <th><%= sort_link(@q, :name, "Tank") %></th>
      <th><%= sort_link(@q, :shortname, "Short Name") %></th>
      <th><%= sort_link(@q, :marks_count, "3 MoE") %></th>
      <th><%= sort_link(@q, :tier, "Tier") %></th>
      <th><%= sort_link(@q, :nation_name, "Nation") %></th>
	  <th><%= sort_link(@q, :vehicle_type_name, "Type") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tanks.each do |tank| %>
      <tr class="table__row">
        <td><img src="<%= tank.smallicon %>" style="height:31px;width:124px"> <%= link_to tank.name, tank_path(tank)%></td>
        <td><%= tank.shortname %></td>
        <td><%= number_with_delimiter(tank.marks.count) %></td>
        <td><%= tank.tier %></td>
        <td><%= image_tag "nations/" + tank.nation.id + ".png" %> <%= tank.nation.name %></td>
        <td><%= image_tag "vehicletypes/" + tank.vehicle_type.id + ".png"%> <%= tank.vehicle_type.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @tanks %>

<%= render "shared/footer" %>