<% content_for :title do %>Tanks Winrate Data<% end %>
<%= render "shared/navigationbar" %>

<div class="headline">Tank Overview - Winratio</div>
<%= render "link_bar" %>
<div>
	<%= render "shared/searchforms/tank_list" %>
	<div class="digg_pagination"><%= will_paginate @tanks %></div>
	<table>
	  <thead>
		<tr>
		  <%= render "shared/tanks_table_head_generic_columns" %>
		  <th class="dred">&lt;46%</th>
		  <th class="red">46%</th>
		  <th class="orange">47%</th>
		  <th class="yellow">48%-49%</th>
		  <th class="green">50%-51%</th>
		  <th class="dgreen">52%-53%</th>
		  <th class="blue">54%-55%</th>
		  <th class="dblue">56%-59%</th>
		  <th class="purple">60%-64%</th>
		  <th class="dpurple">&ge; 65%</th>
		  <th class="dred">&lt;46%</th>
		  <th class="red">&lt;47%</th>
		  <th class="orange">&lt;48%</th>
		  <th class="yellow">&lt;50%</th>
		  <th class="green">&lt;52%</th>
		  <th class="dgreen">&lt;54%</th>
		  <th class="blue">&lt;56%</th>
		  <th class="dblue">&lt;60%</th>
		  <th class="purple">&lt;65%</th>
		  <th class="dpurple">Total</th>
		</tr>
	  </thead>
	  <tbody>
		<% @tanks.each do |tank| %>
		  <tr>
			<%= render partial: "shared/tanks_table_body_generic_columns", locals: {tank: tank} %>
			<td><%= number_with_delimiter(@tanks_calculation.where("tanks.id = " + tank.id.to_s + " AND players.winratio < 0.46").count)%>
			<td><%= number_with_delimiter(@tanks_calculation.where("tanks.id = " + tank.id.to_s + " AND players.winratio >= 0.46 AND players.winratio < 0.47").count)%>
			<td><%= number_with_delimiter(@tanks_calculation.where("tanks.id = " + tank.id.to_s + " AND players.winratio >= 0.47 AND players.winratio < 0.48").count)%>
			<td><%= number_with_delimiter(@tanks_calculation.where("tanks.id = " + tank.id.to_s + " AND players.winratio >= 0.48 AND players.winratio < 0.50").count)%>
			<td><%= number_with_delimiter(@tanks_calculation.where("tanks.id = " + tank.id.to_s + " AND players.winratio >= 0.50 AND players.winratio < 0.52").count)%>
			<td><%= number_with_delimiter(@tanks_calculation.where("tanks.id = " + tank.id.to_s + " AND players.winratio >= 0.52 AND players.winratio < 0.54").count)%>
			<td><%= number_with_delimiter(@tanks_calculation.where("tanks.id = " + tank.id.to_s + " AND players.winratio >= 0.54 AND players.winratio < 0.56").count)%>
			<td><%= number_with_delimiter(@tanks_calculation.where("tanks.id = " + tank.id.to_s + " AND players.winratio >= 0.56 AND players.winratio < 0.60").count)%>
			<td><%= number_with_delimiter(@tanks_calculation.where("tanks.id = " + tank.id.to_s + " AND players.winratio >= 0.60 AND players.winratio < 0.65").count)%>
			<td><%= number_with_delimiter(@tanks_calculation.where("tanks.id = " + tank.id.to_s + " AND players.winratio >= 0.65").count)%>
			<td><%= number_with_delimiter(@tanks_calculation.where("tanks.id = " + tank.id.to_s + " AND players.winratio < 0.46").count)%>
			<td><%= number_with_delimiter(@tanks_calculation.where("tanks.id = " + tank.id.to_s + " AND players.winratio < 0.47").count)%>
			<td><%= number_with_delimiter(@tanks_calculation.where("tanks.id = " + tank.id.to_s + " AND players.winratio < 0.48").count)%>
			<td><%= number_with_delimiter(@tanks_calculation.where("tanks.id = " + tank.id.to_s + " AND players.winratio < 0.50").count)%>
			<td><%= number_with_delimiter(@tanks_calculation.where("tanks.id = " + tank.id.to_s + " AND players.winratio < 0.52").count)%>
			<td><%= number_with_delimiter(@tanks_calculation.where("tanks.id = " + tank.id.to_s + " AND players.winratio < 0.54").count)%>
			<td><%= number_with_delimiter(@tanks_calculation.where("tanks.id = " + tank.id.to_s + " AND players.winratio < 0.56").count)%>
			<td><%= number_with_delimiter(@tanks_calculation.where("tanks.id = " + tank.id.to_s + " AND players.winratio < 0.60").count)%>
			<td><%= number_with_delimiter(@tanks_calculation.where("tanks.id = " + tank.id.to_s + " AND players.winratio < 0.65").count)%>
			<td><%= number_with_delimiter(tank.mark_count)%>
		  </tr>
		<% end %>
	  </tbody>
	</table>
	<div class="digg_pagination"><%= will_paginate @tanks %></div>
</div>

<%= render "shared/footer" %>