<% content_for :title do %><% @tank.name %><% end %>
<%= render "shared/navigationbar" %>

<div class="tankInfoBlock">
	<div class="tankImageDiv">
		<img src="<%= @tank.bigicon %>">
	</div>

	<div class="tankName"><%= @tank.name %></div>
	<div class="moeCount"><%= image_tag("moe/95x85/" + @tank.nation.id + "_3_marks.png", :class => "image3moe") %> <%= number_with_delimiter(@tank.marks.count) %></div>
	<%= image_tag "nations/" + @tank.nation.id + ".png" %><%= image_tag "vehicletypes/" + @tank.vehicle_type.id + ".png"%><%= image_tag "tiers/tank_level_" + @tank.tier.to_s + ".png"%>
	<div><%= @tank.nation.name %>, <%= @tank.vehicle_type.name %>, Tier <%= @tank.tier %></div>
</div>

<div class="digg_pagination"><%= will_paginate @marks %></div>
<table>
	<thead>
		<tr>
			<th><%= sort_link(@q, :player_name, "Player") %></th>
			<th><%= sort_link(@q, :player_clan_tag, "Clan") %></th>
			<th><%= sort_link(@q, :player_battles, "Battles") %></th>
			<th><%= sort_link(@q, :player_winratio, "Win ratio") %></th>
			<th><%= sort_link(@q, :player_wn8, "WN8") %></th>
			<th><%= sort_link(@q, :player_wgrating, "WG Rating") %></th>
			<th><%= sort_link(@q, :player_clientLang, "Client language") %></th>
			<th><%= sort_link(@q, :player_lastBattle, "Last battle") %></th>
			<th><%= sort_link(@q, :player_lastLogout, "Last logout") %></th>
			<th><%= sort_link(@q, :player_accountCreated, "Account created") %></th>
			<th><%= sort_link(@q, :player_updatedAtWG, "Last update (WG)") %></th>
			<th><%= sort_link(@q, :updated_at, "Checked last at") %></th>
			<th><%= sort_link(@q, :created_at, "First checked at") %></th>
		</tr>
	</thead>
 
	<tbody>
		<% @marks.each do |mark| %>
			<tr>
				<td><%= link_to mark.player.name, player_path(mark.player.id) %></td>
				<td><% if mark.player.clan %><img src="<%= mark.player.clan&.icon32px%>"> <%= link_to mark.player.clan.tag, clan_path(mark.player.clan.id)%><% end %></td>
				<td><%= number_with_delimiter(mark.player.battles) %></td>
				<td class="<%= css_class_by_winrate(mark.player.winratio)%>"><%= winratio_percentage(mark.player.winratio) %></td>
				<td class="<%= css_class_by_wn8(mark.player.wn8) %>"><%= number_with_delimiter(mark.player.wn8) %></td>
				<td><%= number_with_delimiter(mark.player.wgrating) %>
				<td><% if !mark.player.clientLang.blank? %><%= image_tag "clientlang/" + mark.player.clientLang + ".png"%><% end %> <%= mark.player.clientLang %></td>
				<td><%= mark.player.lastBattle %></td>
				<td><%= mark.player.lastLogout %></td>
				<td><%= mark.player.accountCreated %></td>
				<td><%= mark.player.updatedAtWG %></td>
				<td><%= mark.player.updated_at %></td>
				<td><%= mark.player.created_at %></td>
			</tr>
	  <% end %>
	</tbody>
</table>
<div class="digg_pagination"><%= will_paginate @marks %></div>

<%= render "shared/footer" %>