<% content_for :title do %><% @tank.name %><% end %>
<%= render "shared/navigationbar" %>

<h2><img src="<%= @tank.bigicon %>"> <%= @tank.name %> - <%= number_with_delimiter(@tank.marks.count) %>x 3 MoE</h2><br>
Tier <%= @tank.tier %> | <%= image_tag "vehicletypes/" + @tank.vehicle_type.wgid + ".png"%> <%= @tank.vehicle_type.name %> | <%= image_tag "nations/" + @tank.nation.wgid + ".png" %> <%= @tank.nation.name %><br>
<%= will_paginate @marks %>
<table class="table">
<thead class="table__head">
  <tr>
    <th>Player</th>
	<th>Clan</th>
	<th>Battles</th>
	<th>Win ratio</th>
	<th>WN8</th>
	<th>WG Rating</th>
	<th>Client language</th>
	<th>Last battle</th>
	<th>Last logout</th>
	<th>Account created</th>
	<th>Last update (WG)</th>
	<th>Checked last at</th>
	<th>First checked at</th>
  </tr>
 </thead>
 
 <tbody>
  <% @marks.each do |mark| %>
    <tr class="table__row">
      <td><%= link_to mark.player.name, player_path(mark.player.id) %></td>
	  <td><% if mark.player.clan %><img src="<%= mark.player.clan&.icon32px%>"><%= link_to mark.player.clan.tag, clan_path(mark.player.clan.id)%><% end %></td>
	  <td><%= number_with_delimiter(mark.player.battles) %></td>
	  <td><%= number_to_percentage(mark.player.winratio, precision: 2) %></td>
	  <td style="background-color:<%= winratio_colorcode(mark.player.winratio)%>"><p style="color:<%= winratio_foreground_colorcode(mark.player.winratio)%>"><%= number_to_percentage(mark.player.winratio, precision: 2) %></p></td>
	  <td style="background-color:<%= wn8_colorcode(mark.player.wn8) %>"><p style="color:<%= wn8_foreground_colorcode(mark.player.wn8)%>"><%= number_with_delimiter(mark.player.wn8) %></p></td>
	  <td><% if !mark.player.clientLang.blank? %><%= image_tag "clientlang/" + mark.player.clientLang + ".png"%><% end %> <%= mark.player.clientLang %></td>
	  <td><%= mark.player.lastBattle %></td>
	  <td><%= mark.player.lastLogout %></td>
	  <td><%= mark.player.accountCreated %></td>
	  <td><%= mark.player.updatedAt %></td>
	  <td><%= mark.player.updated_at %></td>
	  <td><%= mark.player.created_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @marks %>

<%= render "shared/footer" %>