<h3><%= link_to "3 MoE Data", root_path %> | <%= link_to "Marks", marks_path %> | <%= link_to "Tanks", tanks_path %> | <%= link_to "Players", players_path %> | <%= link_to "Clans", clans_path %></h3>
<hr><br>