<div>
	<%= render partial: "shared/searchforms/tank_list", locals: {rUrl: rUrl, bFilterVehicleType: bFilterVehicleType, bFilterNation: bFilterNation, bFilterTier: bFilterTier} %>

	<div class="digg_pagination"><%= will_paginate tanks %></div>
	<table>
	  <thead>
		<tr>
			<%= render "shared/tanks_table_head_generic_columns" %>
		</tr>
	  </thead>
	  <tbody>
		<% tanks.each do |tank| %>
		  <tr>
		    <%= render partial: "shared/tanks_table_body_generic_columns", locals: {tank: tank} %>
		  </tr>
		<% end %>
	  </tbody>
	</table>
	<div class="digg_pagination"><%= will_paginate tanks %></div>
</div>