<div>
	<%= search_form_for @q do |f| %>
	  <%= f.search_field :name_or_shortname_cont %>
	  <%= f.submit %>
	<% end %>

	<div class="digg_pagination"><%= will_paginate tanks %></div>
	<table>
	  <thead>
		<tr>
		  <th><%= sort_link(@q, :name, "Tank") %></th>
		  <th><%= sort_link(@q, :shortname, "Short Name") %></th>
		  <th><%= sort_link(@q, :marks_count, "3 MoE") %></th>
		  <th><%= sort_link(@q, :tier, "Tier") %></th>
		  <th><%= sort_link(@q, :nation_name, "Nation") %></th>
		  <th><%= sort_link(@q, :vehicle_type_name, "Type") %></th>
		</tr>
	  </thead>
	  <tbody>
		<% tanks.each do |tank| %>
		  <tr>
			<td><img src="<%= tank.smallicon %>"> <%= link_to tank.name, tank_path(tank)%></td>
			<td><%= tank.shortname %></td>
			<td><%= number_with_delimiter(tank.marks.count) %></td>
			<td><%= tank.tier %></td>
			<td><%= image_tag "nations/" + tank.nation.id + ".png" %> <%= link_to tank.nation.name, nation_path(tank.nation.id) %></td>
			<td><%= image_tag("vehicletypes/" + tank.vehicle_type.id + ".png", :class => "smallVehicleTypeIcon") %> <%= link_to tank.vehicle_type.name, vehicle_type_path(tank.vehicle_type.id) %></td>
		  </tr>
		<% end %>
	  </tbody>
	</table>
	<div class="digg_pagination"><%= will_paginate tanks %></div>
</div>