<% content_for :title do %>Clans<% end %>
<%= render "shared/navigationbar" %>

<h1>All clans with 3 MoE</h1>

<%= search_form_for @q do |f| %>
		<%= f.search_field :tag_or_name_cont, placeholder: "Tag or name" %>
		<%= f.submit %>
<% end %>

<div class="digg_pagination"><%= will_paginate @clans %></div>

<table>
	<thead>
		<tr>
			<th><%= sort_link(@q, :name, "Clan") %></th>
			<th><%= sort_link(@q, :tag, "Tag") %></th>
			<th><%= sort_link(@q, :members, "Members") %></th>
			<th><%= sort_link(@q, :mark_count, "3 MoE") %></th>
			<th><%= sort_link(@q, :moe_rating, "MoE Rating") %></th>
			<th><%= sort_link(@q, :updatedAtWG, "Updated at (WG)") %></th>
			<th><%= sort_link(@q, :clanCreated, "Created at") %></th>
			<th><%= sort_link(@q, :created_at, "Tracking started") %></th>
			<th><%= sort_link(@q, :updated_at, "Last checked at") %></th>
		</tr>
	</thead>
	<tbody>
		<% @clans.each do |clan| %>
			<tr>
				<td><div class="clanName32px"><img src="<%= clan.icon32px%>"> <%= link_to clan.name, clan_path(clan) %></div></td>
				<td><%= clan.tag %></td>
				<td><%= clan.members %></td>
				<td><%= number_with_delimiter(clan.mark_count) %></td>
				<td><%= number_with_delimiter(clan.moe_rating) %></td>
				<td><%= clan.updatedAtWG %></td>
				<td><%= clan.clanCreated %></td>
				<td><%= clan.created_at %></td>
				<td><%= clan.updated_at %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<div class="digg_pagination"><%= will_paginate @clans %></div>

<%= render "shared/footer" %>