<% content_for :title do %>Clans<% end %>
<%= render "shared/navigationbar" %>

<h1>All clans with 3 MoE</h1>
<div class="digg_pagination"><%= will_paginate @clans %></div>
<table class="table">
	<thead class="table__head">
		<tr>
			<th>Clan</th>
			<th>Tag</th>
			<th>Members</th>
			<th>3 MoE</th>
			<th>Updated at (WG)</th>
		</tr>
	</thead>
	<tbody>
		<% @clans.each do |clan| %>
			<tr class="table__row">
				<td><img src="<%= clan.icon32px%>" style="height:32px;width:32px"><%= link_to clan.name, clan_path(clan) %></td>
				<td><%= clan.tag %></td>
				<td><%= clan.members %></td>
				<td><%= number_with_delimiter(clan.marks.count) %></td>
				<td><%= clan.updatedAtWG %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<div class="digg_pagination"><%= will_paginate @clans %></div>

<%= render "shared/footer" %>