<% content_for :title do %><% @clan.tag %><% end %>
<%= render "shared/navigationbar" %>

<div class="clanInfoBlock">
	<div class="clanImageDiv">
		<img class="clanImage" src="<%= @clan.icon256px %>">
	</div>

	<div class="clanName"><%= @clan.name %></div>
	<div class="clanTag"><%= @clan.tag %></div>
	<div class="moeCount"><%= image_tag("moe/95x85/china_3_marks.png", :class => "image3moe") %> <%= number_with_delimiter(@clan.mark_count) %></div>
	<div><%= @clan.members %> Members</div>
	<div class="externalClanLinks"><%= image_tag "http://eu.wargaming.net/favicon.ico" %> <%= link_to "WG profile", clan_url_wg(@clan.id) %> | <%= image_tag "http://wotlabs.net/images/favicon.png" %> <%= link_to "Wotlabs", clan_url_wotlabs(@clan.tag) %></div>
</div>

<%= search_form_for @q do |f| %>
	<div class="fields">
		<%= f.search_field :name_cont, placeholder: "Name" %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>

<div class="digg_pagination"><%= will_paginate @players %></div>

<table>
	<thead>
		<tr>
			<th><%= sort_link(@q, :name, "Player") %></th>
			<th><%= sort_link(@q, :mark_count, "3 MoE") %></th>
			<th><%= sort_link(@q, :battles, "Battles") %></th>
			<th><%= sort_link(@q, :winratio, "Win ratio") %></th>
			<th><%= sort_link(@q, :wn8, "WN8") %></th>
			<th><%= sort_link(@q, :moe_rating, "MoE Rating") %></th>
			<th><%= sort_link(@q, :wgrating, "WG Rating") %></th>
			<th><%= sort_link(@q, :clientLang, "Client language") %></th>
			<th><%= sort_link(@q, :lastBattle, "Last battle") %></th>
			<th><%= sort_link(@q, :lastLogout, "Last logout") %></th>
			<th><%= sort_link(@q, :accountCreated, "Account created") %></th>
			<th><%= sort_link(@q, :updatedAtWG, "Updated at (WG)") %></th>	
			<th><%= sort_link(@q, :updated_at, "Checked last at") %></th>
		</tr>
	</thead>
	<tbody>
		<% @players.each do |player| %>
			<tr>
				<td><%= link_to player.name, player_path(player.id) %></td>
				<td><%= player.mark_count %></td>
				<td><%= number_with_delimiter(player.battles) %></td>
				<td class="<%= css_class_by_winrate(player.winratio)%>"><%= winratio_percentage(player.winratio) %></td>
				<td class="<%= css_class_by_wn8(player.wn8) %>"><%= number_with_delimiter(player.wn8) %></td>
				<td><%= number_with_delimiter(player.moe_rating) %></td>
				<td><%= number_with_delimiter(player.wgrating) %></td>
				<td><% if !player.clientLang.blank? %><%= image_tag "clientlang/" + player.clientLang + ".png"%><% end %> <%= player.clientLang %></td>
				<td><%= player.lastBattle %></td>
				<td><%= player.lastLogout %></td>
				<td><%= player.accountCreated %></td>
				<td><%= player.updatedAtWG %></td>
				<td><%= player.updated_at %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<div class="digg_pagination"><%= will_paginate @players %></div>

<%= render "shared/footer" %>