<% content_for :title do %>Nations<% end %>
<%= render "shared/navigationbar" %>

<h1>Nation Overview</h1>

<%= search_form_for @q do |f| %>
  <%= f.search_field :name_cont %>

  <%= f.submit %>
<% end %>

<div class="digg_pagination"><%= will_paginate @nations %></div>
<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :name, "Nation") %></th>
	  <th><%= sort_link(@q, :tanks_count, "Tanks") %></th>
      <th><%= sort_link(@q, :marks_count, "3 MoE") %></th>
    </tr>
  </thead>
  <tbody>
    <% @nations.each do |nation| %>
      <tr>
        <td><%= image_tag "nations/" + nation.id + ".png" %> <%= link_to nation.name, nation_path(nation.id) %></td>
		<td><%= number_with_delimiter(nation.tanks.count) %></td>
        <td><%= number_with_delimiter(nation.marks.count) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination"><%= will_paginate @nations %></div>

<%= render "shared/footer" %>