<% content_for :title do %><% @nation.name %><% end %>
<%= render "shared/navigationbar" %>

<h1><%= image_tag "nations/" + @nation.id + ".png" %> <%= @nation.name %></h1>


<%= render partial: "shared/tank_list", locals: {tanks: @tanks} %>

<%= render "shared/footer" %>