<div class="outerFilterBox">
	<div class="filterBox">
		<%= search_form_for @q, url: rUrl do |f| %>
			<div class="overflowAuto smallMarginBottom">
				<%= f.search_field :tank_name_or_tank_shortname_cont, placeholder: "Tank name", class: "leftFloat" %>
				<%= f.submit "Filter", class: "buttonFilter"%>
			</div>

			<div class="leftFloat">
				<%= f.collection_check_boxes(:tank_vehicle_type_id_in, VehicleType.all, :id, :name) do |b| %>
					<%= b.label(class: "verticalStackCheckbox") { b.check_box + image_tag("vehicletypes/" + b.value + ".png", :class => "imageTankType") + b.text } %>
				<% end %>
			</div>
			
			<div class="leftFloat">
				<%= f.collection_check_boxes(:tank_nation_id_in, Nation.all, :id, :name) do |b| %>
					<%= b.label(class: "verticalStackCheckbox") { b.check_box + image_tag("nations/" + b.value + ".png", :class => "imageNation") + b.text } %>
				<% end %>
			</div>
			
			<div class="leftFloat">
				<%= f.collection_check_boxes(:tank_tier_id_in, Tier.all, :id, :name) do |b| %>
					<%= b.label(class: "verticalStackCheckbox") { b.check_box + b.text } %>
				<% end %>
			</div>
			
			
		<% end %>
	</div>
</div>