<% content_for :title do %>Players<% end %>
<%= render "shared/navigationbar" %>

<h1>Player Overview</h1>
<div class="digg_pagination"><%= will_paginate @players %></div>
<table>
	<thead>
		<tr>
			<th><%= sort_link(@q, :name, "Player") %></th>
			<th><%= sort_link(@q, :clan_name, "Clan") %></th>
			<th><%= sort_link(@q, :marks_count, "3 Moe") %></th>
			<th><%= sort_link(@q, :battles, "Battles") %></th>
			<th><%= sort_link(@q, :winratio, "Win ratio") %></th>
			<th><%= sort_link(@q, :wn8, "WN8") %></th>
			<th><%= sort_link(@q, :wgrating, "WG Rating") %></th>
			<th><%= sort_link(@q, :clientLang, "Client language") %></th>
			<th><%= sort_link(@q, :lastBattle, "Last battle") %></th>
			<th><%= sort_link(@q, :lastLogout, "Last logout") %></th>
			<th><%= sort_link(@q, :accountCreated, "Account created") %></th>
			<th><%= sort_link(@q, :updatedAtWG, "Updated at (WG)") %></th>
		</tr>
	</thead>
	<tbody>
		<% @players.each do |player| %>
			<tr>
				<td><%= link_to player.name, player_path(player) %></td>
				<td><% if player.clan %><img src="<%= player.clan.icon24px%>"> <%= link_to player.clan.tag, clan_path(player.clan.id)%><% end %></td>
				<td><%= number_with_delimiter(player.marks.count) %></td>
				<td><%= number_with_delimiter(player.battles) %></td>
				<td class="<%= css_class_by_winrate(player.winratio)%>"><%= winratio_percentage(player.winratio) %></td>
				<td class="<%= css_class_by_wn8(player.wn8) %>"><%= number_with_delimiter(player.wn8) %></td>
				<td><%= number_with_delimiter(player.wgrating) %></td>
				<td><% if !player.clientLang.blank? %><%= image_tag "clientlang/" + player.clientLang + ".png"%><% end %> <%= player.clientLang %></td>
				<td><%= player.lastBattle %></td>
				<td><%= player.lastLogout %></td>
				<td><%= player.accountCreated %></td>
				<td><%= player.updatedAtWG %></td>
			</tr>
		<% end %>
  </tbody>
</table>
<div class="digg_pagination"><%= will_paginate @players %></div>

<%= render "shared/footer" %>