<% content_for :title do %><% @player.name %><% end %>
<%= render "shared/navigationbar" %>

<h2><% if @player.clan %><img src="<%= @player.clan&.icon32px%>"><% end %> <%= @player.name %><% if @player.clan %>[<%= link_to @player.clan.tag, clan_path(@player.clan.id)%>]<% end %> - <%= @player.marks.count %>x 3 MoE</h2>

<%= number_with_delimiter(@player.battles) %> Battles
 | <span style="color:<%= winratio_foreground_colorcode(@player.winratio) %>;background:<%= winratio_colorcode(@player.winratio)%>"><%= winratio_percentage(@player.winratio) %></span> Winratio
 | <span style="color:<%= wn8_foreground_colorcode(@player.wn8) %>;background:<%= wn8_colorcode(@player.wn8) %>"><%= number_with_delimiter(@player.wn8) %></span> WN8
 | <%= number_with_delimiter(@player.wgrating) %> WG Rating
 | <% if !@player.clientLang.blank? %><%= image_tag "clientlang/" + @player.clientLang + ".png"%><% end %> <%= @player.clientLang %>
 
<br>

Last battle: <%= @player.lastBattle %> | Last logout: <%= @player.lastLogout %> | Account created: <%= @player.accountCreated %> | Last update (WG): <%= @player.updatedAtWG %> <br>
<%= link_to "WG profile", player_url_wg(@player.id) %> | <%= link_to "Wotlabs", player_url_wotlabs(@player.name) %>
<% if @player.clan %> || <%= @player.clan.tag %>: <%= link_to "WG profile", clan_url_wg(@player.clan.id) %> | <%= link_to "Wotlabs", clan_url_wotlabs(@player.clan.tag) %> <% end %>
<table>
	<thead>
		<tr>
			<th>Tank</th>
			<th>Tier</th>
			<th>Nation</th>
			<th>Type</th>
			<th>First detected</th>
		</tr>
	</thead>
	<tbody>
		<% @player.marks.each do |mark| %>
			<tr>
				<td><img src="<%= mark.tank.smallicon %>" style="height:31px;width:124px"> <%= link_to mark.tank.name, tank_path(mark.tank.id) %></td>
				<td><%= mark.tank.tier %></td>
				<td><%= image_tag "nations/" + mark.tank.nation.id + ".png" %> <%= mark.tank.nation.name %></td>
				<td><%= image_tag "vehicletypes/" + mark.tank.vehicle_type.id + ".png"%> <%= mark.tank.vehicle_type.name %></td>
				<td><%= mark.created_at %></td>
			</tr>
		<% end %>
	<tbody>
</table>

<%= render "shared/footer" %>