<% content_for :title do %><% @player.name %><% end %>
<%= render "shared/navigationbar" %>

<div class="playerInfoBlock">
	<div class="clearfix">
		<div class="playerInfoDiv">
			<div class="playerName"><%= @player.name %> <% if !@player.clientLang.blank? %><%= image_tag "clientlang/" + @player.clientLang + ".png"%><% end %></div>
			<div class="moeCount"><%= @player.marks.count %></div>
			<div><%= link_to "WG profile", player_url_wg(@player.id) %> | <%= link_to "Wotlabs", player_url_wotlabs(@player.name) %></div>
		</div>

		<% if @player.clan %>
		<div class="clanInfoDiv">
			<img class="clanIcon" src="<%= @player.clan&.icon32px%>"><span class="clanTag"> <%= link_to @player.clan.tag, clan_path(@player.clan.id)%></span>
			<div><%= image_tag "http://eu.wargaming.net/favicon.ico" %> <%= link_to "WG profile", clan_url_wg(@player.clan.id) %> | <%= image_tag "http://wotlabs.net/images/favicon.png" %> <%= link_to "Wotlabs", clan_url_wotlabs(@player.clan.tag) %></div>
		</div>
		<% end %>
	</div>
	<div class="valueBoxes clearfix">
		<div class="statValueBox"><div><%= number_with_delimiter(@player.wn8) %></div>WN 8</div>
		<div class="statValueBox"><div><%= winratio_percentage(@player.winratio) %></div>Winratio</div>
		<div class="statValueBox"><div><%= number_with_delimiter(@player.battles) %></div>Battles</div>
		<div class="statValueBox"><div><%= number_with_delimiter(@player.wgrating) %></div>WG Rating</div>
		<div class="statValueBox"><div>420</div>MoE Rating</div>
	</div>
	<div class="valueBoxes clearfix">
		<div class="dateValueBox"><div><%= @player.lastBattle %></div>Last Battle</div>
		<div class="dateValueBox"><div><%= @player.lastLogout %></div>Last Logout</div>
		<div class="dateValueBox"><div><%= @player.accountCreated %></div>Account created</div>
		<div class="dateValueBox"><div><%= @player.updatedAtWG %></div>Last update (WG)</div>
	</div>
</div>
<div class="digg_pagination"><%= will_paginate @marks %></div>
<table>
	<thead>
		<tr>
			<th><%= sort_link(@q, :tank_name, "Tank") %></th>
			<th><%= sort_link(@q, :tank_tier, "Tier") %></th>
			<th><%= sort_link(@q, :tank_nation_name, "Nation") %></th>
			<th><%= sort_link(@q, :tank_vehicle_type_name, "Type") %></th>
			<th><%= sort_link(@q, :created_at, "First detected") %></th>
		</tr>
	</thead>
	<tbody>
		<% @marks.each do |mark| %>
			<tr>
				<td><img class="smallTankIcon" src="<%= mark.tank.smallicon %>"> <%= link_to mark.tank.name, tank_path(mark.tank.id) %></td>
				<td><%= mark.tank.tier %></td>
				<td><%= image_tag("nations/" + mark.tank.nation.id + ".png", :class => "smallNationIcon") %> <%= mark.tank.nation.name %></td>
				<td><%= image_tag("vehicletypes/" + mark.tank.vehicle_type.id + ".png", :class => "smallVehicleTypeIcon") %> <%= mark.tank.vehicle_type.name %></td>
				<td><%= mark.created_at %></td>
			</tr>
		<% end %>
	<tbody>
</table>
<div class="digg_pagination"><%= will_paginate @marks %></div>

<%= render "shared/footer" %>