<% content_for :title do %><% @vehicle_type.name %><% end %>
<%= render "shared/navigationbar" %>

<h1><%= @vehicle_type.name %></h1>

<div class="digg_pagination"><%= will_paginate @tanks %></div>
<table>
  <thead>
    <tr>
      <th>Tank</th>
      <th>Short Name</th>
      <th>3 MoE</th>
      <th>Tier</th>
      <th>Nation</th>
	  <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% @tanks.each do |tank| %>
      <tr>
        <td><img src="<%= tank.smallicon %>" style="height:31px;width:124px"> <%= link_to tank.name, tank_path(tank)%></td>
        <td><%= tank.shortname %></td>
        <td><%= number_with_delimiter(tank.marks.count) %></td>
        <td><%= tank.tier %></td>
        <td><%= image_tag "nations/" + tank.nation.id + ".png" %> <%= link_to tank.nation.name, nation_path(tank.nation.id) %></td>
        <td><%= image_tag "vehicletypes/" + tank.vehicle_type.id + ".png"%> <%= link_to tank.vehicle_type.name, vehicle_type_path(tank.vehicle_type.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination"><%= will_paginate @tanks %></div>

<%= render "shared/footer" %>