<% content_for :title do %>Distribution<% end %>
<%= render "shared/navigationbar" %>
<h1>3 MoE distribution data</h1>
<%= render "link_bar" %>

<h1>3 MoE on Winratio</h1>
<table border="1" >
  <tr>
	<th>Lower</th>
	<th>Upper</th>
	<th>Players</th>
	<th>Marks</th>
  </tr>
  
  <tr>
	<td class="<%= css_class_by_winrate(0.0)%>"><%= number_to_percentage(0, precision: 0) %></td>
	<td class="<%= css_class_by_winrate(0.45)%>"><%= number_to_percentage(45, precision: 0) %></td>
	<td><%= number_with_delimiter(Player.where("winratio < 0.45").count) %></td>
	<td><%= number_with_delimiter(Player.select("*").joins("INNER JOIN marks on players.id = marks.player_id").where("winratio < 0.45").count) %></td>
  </tr>
  <% (0.45..0.69).step(0.01) do |winratio_number| %>
    <tr>
	  <td class="<%= css_class_by_winrate(winratio_number)%>"><%= number_to_percentage(winratio_number * 100, precision: 0) %></td>
	  <td class="<%= css_class_by_winrate(winratio_number + 0.01)%>"><%= number_to_percentage(winratio_number * 100 + 1, precision: 0) %></td>
	  <td><%= number_with_delimiter(Player.where("winratio >="+ (winratio_number).to_s + " and winratio <"+ (winratio_number + 0.01).to_s).count) %></td>
	  <td><%= number_with_delimiter(Player.select("*").joins("INNER JOIN marks on players.id = marks.player_id").where("winratio >="+ (winratio_number).to_s + " and winratio <"+ (winratio_number + 0.01).to_s).count) %></td>
    </tr>
  <% end %>
  <tr>
	<td class="<%= css_class_by_winrate(0.7)%>"><%= number_to_percentage(70, precision: 0)%></td>
	<td class="<%= css_class_by_winrate(1.0)%>"><%= number_to_percentage(100, precision: 0)%></td>
	<td><%= number_with_delimiter(Player.where("winratio >= 0.7").count) %></td>
	<td><%= number_with_delimiter(Player.select("*").joins("INNER JOIN marks on players.id = marks.player_id").where("winratio >= 0.7").count) %></td>
  </tr>
</table>

<%= render "shared/footer" %>